@import './variable.scss';

.banner {
    background: url(../images/hero-bg.svg) no-repeat center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        background: $med-light-pink ;
        // background: $bright-green;
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0.75;
    }

    .bannerContainer {
        height: 100%;
        position: relative;
        
        &::after {
            content: '';
            background: url(../images/lord-img.svg) no-repeat center;
            max-height: 100%;
            position: absolute;
            width: 36%;
            right: 0;
            bottom: -23px;
            background-size: contain;
            background-position: right bottom;
            height: 100%;
            @media (max-width:767px) {
                max-height: 53%;
                width: 100%;
                bottom: -15px;
                background-position: center;
                height: 70%;
                left: 0;
                right: auto;
            }
        }

        .banner_info {
            z-index: 1;
            position: relative;
            height: 100%;
            height: calc(100vh - 180px);
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            @media (max-width:767px) {
                align-items: center;
                justify-content: start;
                text-align: center;
                padding-top: 25%;
            }

            h2 {
                font-size: 46px;
                margin-bottom: 20px;
                color: $heading-text-color;
                font-weight: 600;
                // color: #fff;
                // text-shadow: 0px 4px 6px #766e1a;
                @media (max-width:767px) {
                    font-size: 36px;
                }
            }

            .createprofileBtn {
                padding: 12px 40px;
                border: 2px solid $white;
                color: $white;
                font-size: 16px;
                border-radius: 0;
                border-color: $med-light-pink;
                text-transform: uppercase;
                letter-spacing: .5px;
                @include btnColor;
                @include btnShadow;

                &:hover {
                    border-color: $med-light-pink;
                }
            }
        }
    }

    .banner_info_form {
        z-index: 1;
        position: relative;
        padding: 15px 0 10px;
        background: rgb(222 180 142 / 51%);

        @media (min-width:1540px) {
            padding: 20px 0 10px;
        
        }

        .col{
            @media (max-width:767px) {
                width: 100%;
                flex: auto;
                margin-bottom: 10px;
            }
            &.ageBox-filter{
                .col{
                    @media (max-width:767px) {
                        width: 47%;
                        margin-bottom: 0;
                    }
                }
                svg{
                    width: 20px;
                    padding: 0;
                }
            }
        }
        .form-label {
            color: white;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .form-select,
        .form-control {
            border-radius: 0;
            font-size: 14px;
            height: 40px;
            background: #00000042;
            color: #fff;
            border-color: $bright-pink;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: #f5f5f5;
            }
        }

        .submitBtnBanner {
            padding: 11px 40px;
            line-height: 1;
            border: 2px solid #fff;
            color: #fff;
            font-size: 15px;
            border-radius: 0;
            border-color: #DEB48E;
            text-transform: uppercase;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.5px;
            @include btnColor;
            @include btnShadow;

            &:hover {
                border-color: $med-light-pink;
            }
            @media (max-width:767px) {
                margin: 20px auto -10px;
                width: 100%;            
            }
        }
    }
}

.grid_1 {
    padding: 5em 0;  
}

.heart-divider {
    height: 100%;
    width: 100%;
    margin: 1em auto 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .grey-line {
        width: 30px;
        // height: 8px;
        display: inline-block;
        border-top: solid 2px $gray-300;
    }

    .pink-heart {
        color: $dark-bright-pink;
        font-size: 18px;
        position: relative;
        z-index: 3;
        width: 25px;
    }

    .grey-heart {
        color: $gray-300;
        font-size: 18px;
        margin-left: -18px;
        position: relative;
        z-index: 2;
        width: 25px;
        text-align: left;
    }
}

.linkBtn{
    color: $dark-bright-pink !important;
}

.successStoriesPageUI {
    @media (max-width:767px) {
        padding: 0;    
    }
    .successStories_timeLine{
        .list-group {
            border-left: 1px solid $gray-300;
            border-radius: 0;
            padding: 32px 0 32px 45px;
            position: relative;
            @media (max-width:767px) {
                padding: 22px 0 22px 15px;
            }
            .pink-heart {
                position: absolute;
                top: -10px;
                left: -9px;
                color: $dark-bright-pink;
                font-size: 18px;
                &:nth-child(2){
                    top: auto;
                    bottom: -10px;
                    left: -9px;
                }
            }
            .list-group-item {
                border: none;
                padding: 0 0 32px;
                
                &:last-child{
                    padding-bottom: 0;
                }

                &::before{
                    content: '';
                    display: block;
                    width: 40px;
                    border-top: 1px solid $gray-300;
                    left: -46px;
                    position: absolute;
                    top: 7px;
                    @media (max-width:767px) {

                        width: 10px;
                        left: -16px;
                    }
                }
    
                span {
                    color: $gray-600;
                    font-size: 11px;
                    letter-spacing: 1px;
                    margin: 0 0 15px;
                    text-transform: uppercase;
                    display: block;
                }
    
                .card {
                    flex-direction: row;
                    border: none;
                    border-radius: 0;
    
                    .card-img-top {
                        height: 75px;
                        width: 75px;
                        object-fit: cover;
                        border-radius: 0;
                    }
    
                    .card-body {
                        padding-top: 0;
                        padding-bottom: 0;

                        &:hover{
                            .card-title {
                                color: $dark-bright-pink;
                            }

                        }
    
                        .card-title {
                            font-size: 18px;
                            font-weight: 600;
                        }
    
                        .card-text {
                            font-size: 14px;
                            display: block;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 0;
                            width: 90%;
                            @media (max-width:767px) {                                
                                width: 200px;
                            }
                        }
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .successStories_timeLine_box{
            @media (max-width:767px) {
                margin-bottom: 30px;
            }   
        }
    }
    .religionListBox {
        margin-bottom: 32px;
        @media (max-width:767px) {
            margin-bottom: 20px;        
        }
        .religionListCard {
            display: flex;
            flex-wrap: wrap;
            a {
                color: $gray-800;
                text-decoration: none;
                font-size: 14px;
                margin-right: 7px;
                padding-right: 7px;
                position: relative;
                display: flex;
                align-items: center;
                padding-bottom: 7px;

                &::after {
                    content: '|';
                    display: inline;
                    position: absolute;
                    right: -3px;
                    font-size: 18px;
                    font-weight: 100;
                }
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}

.featureProfilePageUI{
    .react-multi-carousel-list{
        .react-multi-carousel-item{
            padding-left: 5px;
            .card{
                border-color: transparent;
                border-radius: 0px;
                transition: all 0.3s ease-in ;
                text-decoration: none;

                &:hover{
                    border:1px solid $med-light-pink;
                    cursor: pointer;
                }
               .featureProfile_card_image {
                    position: relative;
                    padding-bottom: 75%;
                    height: 0;
                    overflow: hidden;
                    .card-img-top{
                        border-radius: 0px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        position: absolute;
                        transition: all 0.3s ease-in ;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }

                }
                .card-body{
                    text-align: center;
                    .card-title, .card-text {
                        font-size: 13px;
                        line-height: normal;
                        color: $bright-pink;
                        text-decoration: none;

                    }
                    .card-text {
                        margin-bottom: 5px;
                        font-size: 12px;
                        color: $gray-600;
                    }
                }
            }
        }
    }
}
.translated-ltr{
    .banner {
        .bannerContainer {
            .banner_info {
                h2{
                    font-size: 36px;
                    max-width: 700px;
                    @media (max-width: 767px){
                        font-size: 20px;
                    }
                }
                .createprofileBtn{
                    @media (max-width: 767px){
                        font-size: 14px;
                    }
                    
                }
            }
        }
        .banner_info_form {
            .ageBox-filter{
                .col{
                    @media (max-width: 767px){
                        max-width: 47%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .successStoriesPageUI {
        .successStories_timeLine{
            .list-group{
                 .list-group-item {
                    .card {
                        .card-body{
                            .card-text{
                                width: 60%;
                                @media (max-width: 767px){
                                    max-width: 200px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}